/* fonts */
@font-face {
    font-family: Inter-Regular;
    src: url(/assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(/assets/fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: AdventPro-Bold;
    src: url(/assets/fonts/AdventPro-Bold.ttf);
}
@font-face {
    font-family: Amiko-Regular;
    src: url(/assets/fonts/Amiko-Regular.ttf);
}

/* general */
*{
    font-family: 'Inter-Regular';
}
body{
    min-height: 100vh;
    background-image: url(/assets/img/cat-background.png);
    width: 100vw;
}
.a{
    text-decoration: unset;
}
.block-content{
    height: 100%;
}

/* navbar */
.parent-navbar-brand{
}
.navbar-brand{
    text-align: center;
}
.navbar-brand:hover{
    opacity: 0.6;
}

.nav-link-ext:not(.navbar-brand):hover{
    background-color: #FEAE36;

}

.nav-link-ext{
    text-decoration: underline !important;
}

/* .container-fluid{
    color: white;
} */

.logo-math-cat{
    height: 30px;
    width: 30px;
}

.logo-math-cat:hover{
}

/* footer */
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FEAE36;
    text-align: right;
    padding: 3px 16px;
    font-size: 8pt;
}

/* quiz */
.block-question{
    text-align: center;
    font-size: 30pt;
    position: relative;
    padding: 10rem 0;
}
.block-question-time-parent{
    display: flex;
}
.block-question-time{
    font-family: 'Amiko-Regular';
    background-color: #7E51B9;
    border-radius: 50px;
    width: 6rem;
    height: 6rem;
    color: #FFFFFF;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.block-question-question{
    font-family: 'AdventPro-Bold';
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 6rem;
}
.block-question-correct{
    font-family: 'Amiko-Regular';
    margin: auto auto;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 6rem;
}
.block-question-correct-small{
    font-size: 18pt;
}
.block-answer{
    bottom: 0;
    width: 100%;
}
.block-answer-btn{
    font-family: 'Inter-Bold';
    font-size: 30pt;
    padding: 2rem;
    color: #FFFFFF;
    display: flex;
}
.block-answer-btn-1{
    background-color: #F92A4D;
}
.block-answer-btn-1:hover{
    cursor: pointer;
    background-color: #fb748a;
}
.block-answer-btn-2{
    background-color: #247FEA;
}
.block-answer-btn-2:hover{
    cursor: pointer;
    background-color: #6AA9F0;
}
.block-answer-btn-3{
    background-color: #FFC035;
}
.block-answer-btn-3:hover{
    cursor: pointer;
    background-color: #FFD270;
}
.block-answer-btn-4{
    background-color: #25B216;
}
.block-answer-btn-4:hover{
    cursor: pointer;
    background-color: #38E425;
}
.block-answer-btn-img{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.5rem;
}
.block-exit-card-bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background: rgba(0,0,0,0.6);
}
.block-exit-card{
    z-index: 50;
    text-align: center;
    background-color: #FFFFFF;
    position: fixed;
    width: 100vw;
    height: 40vh;
    bottom: 0;
    margin-left: -12px;
    border-radius: 50px 50px 0 0;
    padding: 3rem;
    font-size: 20pt;
    font-weight: 900;
}
.block-exit-card-btn-group{
    padding-top: 2rem;
}
.block-exit-card-btn{
    border-radius: 50px;
    padding: 1rem;
    font-size: 16pt;
    box-shadow: 5px 5px 15px 1px #888888;
    cursor: pointer;
}
.block-exit-card-btn-no{
    background-color: #46ca46;
}
.block-exit-card-btn-yes{
    background-color: #FE5A36;
}

.homepage{
    position:relative;
}

.homeContent{
    display: flex;
    justify-content: center;
}

.meow-meow{
    text-align: center;
    position: absolute;
    margin-top: 10px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.homeWord{
    text-align: center;
    position: absolute;
    margin-top: 60px;
    font-size: 35px;
    color: rgb(95, 95, 95);
    font-weight: bolder;
}

.difficulty{
    display: flex;
    flex-direction: row;
    margin-top: 170px;
    margin-bottom: 0px;
}

.card-diff{
    cursor: pointer;
}

.easy{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.easy:hover {
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.easy-pic{
    width: 120px;
    height: 120px;
}

.medium{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.medium:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.medium-pic{
    width: 120px;
    height: 120px;
}

.hard{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.hard:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.hard-pic{
    width: 120px;
    height: 120px;
}

.whatTheMeow{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.whatTheMeow:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.wtm-pic{
    width: 120px;
    height: 120px;
}

.paws{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

.cat-paw-1{
    width: 150px;
    height: 200px;
    margin: 0px 50px 0px 60px;
    /* position: absolute; */
    /* margin-top: ; */
   opacity: 0;
}

.cat-paw-2{
    width: 150px;
    height: 200px;
    margin: 0px 50px 0px 60px;
    /* position: absolute; */
    /* margin-top: 5em; */
   opacity: 0;
}

.cat-paw-3{
    width: 150px;
    height: 200px;
    margin: 0px 50px 0px 60px;
    /* position: absolute; */
    /* margin-top: 5em; */
   opacity: 0;
}

.cat-paw-4{
    width: 150px;
    height: 200px;
    margin: 0px 50px 0px 60px;
    /* position: absolute; */
    /* margin-top: 5em; */
   opacity: 0;
}

.pageLoader{
    height: 100%;
    width: 100%;
    background-color: #FFC035;
    z-index: 9997;
    position: fixed;
    margin: 0 auto;
    padding: 300px 700px 300px 700px;
}




