/* fonts */
@font-face {
    font-family: Inter-Regular;
    src: url(/assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(/assets/fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: AdventPro-Bold;
    src: url(/assets/fonts/AdventPro-Bold.ttf);
}
@font-face {
    font-family: Amiko-Regular;
    src: url(/assets/fonts/Amiko-Regular.ttf);
}

/* general */
*{
    font-family: 'Inter-Regular';
}
body{
    min-height: 100vh;
    background-image: url(/assets/img/cat-background.png);
    width: 100vw;
}
.a{
    text-decoration: unset;
}
.block-content{
    height: 100%;
}

/* navbar */
.parent-navbar-brand{
}
.navbar-brand{
    text-align: center;
}
.navbar-brand:hover{
    opacity: 0.6;
}

.nav-link-ext:not(.navbar-brand):hover{
    background-color: #FEAE36;

}

.nav-link-ext{
    text-decoration: underline !important;
}

/* .container-fluid{
    color: white;
} */

.logo-math-cat:hover{
}

/* footer */
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FEAE36;
    text-align: right;
    padding: 3px 16px;
}

/* quiz */
.block-question{
    text-align: center;
    font-size: 30pt;
    position: relative;
}
.block-question-score-parent{
    display: flex;
}
.block-question-score{
    font-family: 'Amiko-Regular';
    background-color: #7E51B9;
    border-radius: 50px;
    width: 6rem;
    height: 6rem;
    color: #FFFFFF;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.block-question-question{
    font-family: 'AdventPro-Bold';
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 6rem;
}
.block-question-correct{
    font-family: 'Amiko-Regular';
    margin: auto auto;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 6rem;
}
.block-question-correct-small{
    font-size: 18pt;
}
.block-answer{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
.block-answer-btn{
    font-family: 'Inter-Bold';
    font-size: 30pt;
    padding: 2rem;
    color: #FFFFFF;
    display: flex;
}
.block-answer-btn-1{
    background-color: #F92A4D;
}
.block-answer-btn-2{
    background-color: #247FEA;
}
.block-answer-btn-3{
    background-color: #FFC035;
}
.block-answer-btn-4{
    background-color: #25B216;
}
.block-answer-btn-img{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.5rem;
}

.homepage{
    position:relative;
}

.homeContent{
    display: flex;
    justify-content: center;
}

.homeWord{
    position: absolute;
    margin-top: 20px;
    font-size: 16px;
    color: gray;
    font-weight: bolder;
}

.difficulty{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.easy{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.easy:hover {
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.easy-pic{
    width: 120px;
    height: 120px;
}

.medium{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.medium:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.medium-pic{
    width: 120px;
    height: 120px;
}

.hard{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.hard:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.hard-pic{
    width: 120px;
    height: 120px;
}

.whatTheMeow{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.whatTheMeow:hover{
    opacity: 0.9;
    background-color: rgb(236, 236, 236);
}

.wtm-pic{
    width: 120px;
    height: 120px;
}

.cat-paw{
    width: 110px;
    height: 135px;
    position: absolute;
    margin-top: 16em;
    left: 290px;
}




